.page {
     page-break-before: always;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     font-size:12px;
}


.dish {
    box-sizing: border-box;
    float:left;
    padding: 10px;
    border: 1px solid #ccc;
    height:320px;
    width: 48%; /* Larghezza del box (2% di spazio tra i box) */
}

@page {
  @bottom-right {
    content: "Page " counter(page) " of " counter(pages);
  }
}

