<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <link href="http://localhost:8080/css/main.css" rel="stylesheet" media="all"/>
    </head>
    <body>
    <h3 style="text-align: center">
        <span th:text="' Prenotazioni del ' + ${date} + '  per l\'hub  ' + ${hubName}"></span>
    </h3>
    <table>
        <thead>
             <th width="25%">Portata</th>
            <th width="40%">Ricetta</th>
            <th width="5%">N°</th>
            <th width="30%">Note</th>
        </thead>
        <tr th:each="dish: ${dishList}">
            <td th:text="${{dish.category}}" />
            <td th:text="${{dish.name}}" />
            <td th:text="${{dish.quantity}}" />
            <td></td>
        </tr>

    </table>
    </body>
</html>